<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h1><%=session[:identity] %></h1></div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <% user = CRUD::User.find_by(login: session[:identity])%>
      <ul class="list-group">
        <li class="list-group-item text-muted">Профиль</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Настоящее имя</strong></span> <%="#{user.name} #{user.surname}" %> </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Телефон</strong></span> <%=user.phone%></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Должность</strong></span> <%=CRUD::Post.find(user.post).name %></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Павильон №</strong></span> <%=CRUD::Pavilion.find(user.pavilion).number %></li>
      </ul>


      <ul class="list-group">
        <%if CRUD::Role.find(user.role).name == 'Клиент' %>
          <li class="list-group-item text-muted">Ваши заявки <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Все</strong></span> <%=CRUD::Maintenance.where(client: user.id_user).count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Новые</strong></span> <%=CRUD::Maintenance.where(client: user.id_user, status: CRUD::Status.find_by(name: 'Не готово').id_status).count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Готовые</strong></span> <%=CRUD::Maintenance.where(client: user.id_user, status: CRUD::Status.find_by(name: 'Готово').id_status).count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>В исполнении</strong></span> <%=CRUD::Maintenance.where(client: user.id_user, status: CRUD::Status.find_by(name: 'В исполнении').id_status).count %></li>
          <% end %>
          <%if CRUD::Role.find(user.role).name == 'Исполнитель' %>
            <li class="list-group-item text-muted">Ваши назначения <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Все</strong></span> <%=CRUD::Maintenance.where(executor: user.id_user).count %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>В исполнении</strong></span> <%=CRUD::Maintenance.where(executor: user.id_user, status: CRUD::Status.find_by(name: 'В исполнении').id_status).count %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Готовые</strong></span> <%=CRUD::Maintenance.where(executor: user.id_user, status: CRUD::Status.find_by(name: 'Готово').id_status).count %></li>
            <% end %>
        <%if CRUD::Role.find(user.role).name == ('Менеджер'||'Администратор') %>
          <li class="list-group-item text-muted">Заявки на ТО <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Все</strong></span> <%=CRUD::Maintenance.all.count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Готовые</strong></span> <%=CRUD::Maintenance.where(status: CRUD::Status.find_by(name: 'Готово').id_status).count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Не назначены</strong></span> <%=CRUD::Maintenance.where(status: CRUD::Status.find_by(name: 'Не готово').id_status).count %></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>В исполнении</strong></span> <%=CRUD::Maintenance.where(status: CRUD::Status.find_by(name: 'В исполнении').id_status).count %></li>
        <% end %>
      </ul>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">

      <ul class="nav nav-tabs" id="myTab">
        <li <%=@last == 'Bids' ? 'class = "active"' : '' %>><a href="#messages" data-toggle="tab">Управление заявками</a></li>
        <li <%=@last == 'Settings' ? 'class = "active"' : '' %>><a href="#settings" data-toggle="tab">Управление аккаунтом</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane <%=@last == 'Bids' ? 'active' : '' %>" id="messages">
          <ul class="list-group">
            <li class="list-group-item text-muted">Заявки</li>

            <%case CRUD::Role.find(user.role).name
            when 'Менеджер','Администратор'%>
                <%CRUD::Maintenance.all.reverse.each do |row| %>
                <li class="list-group-item"><%=row.id%>. Тип: <%=CRUD::Defect.find(row.defect).defect_name%>.
                  Дата подачи: <%=row.bid_date.strftime("%Y-%m-%d")%>. Статус: <%=CRUD::Status.find(row.status).name%>. Описание: <%=row.description.first(30)%>...
                  <a href="/tables/maintenances/<%=row.id_maintenance%>/report" class="glyphicon glyphicon-circle-arrow-right"></a></li>
              <% end %>
            <%when 'Клиент'%>
               <%CRUD::Maintenance.where(client: user.id).reverse.each do |row|%>
                <li class="list-group-item"><%=row.id%>. Тип: <%=CRUD::Defect.find(row.defect).defect_name%>.
                  Дата подачи: <%=row.bid_date.strftime("%Y-%m-%d")%>. Статус: <%=CRUD::Status.find(row.status).name%>. Описание: <%=row.description.first(30)%>...
                  <a href="/tables/maintenances/<%=row.id_maintenance%>/report" class="glyphicon glyphicon-circle-arrow-right"></a></li>
               <% end %>
            <%when 'Исполнитель'%>
                <%CRUD::Maintenance.where(executor: user.id).reverse.each do |row|%>
                <li class="list-group-item"><%=row.id%>. Тип: <%=CRUD::Defect.find(row.defect).defect_name%>.
                  Дата подачи: <%=row.bid_date.strftime("%Y-%m-%d")%>. Статус: <%=CRUD::Status.find(row.status).name%>. Описание: <%=row.description.first(30)%>...
                  <a href="/tables/maintenances/<%=row.id_maintenance%>/report" class="glyphicon glyphicon-circle-arrow-right"></a></li>
              <% end %><% end %>
          </ul>

        </div>
        <!--/tab-pane-->
        <div class="tab-pane <%=@last == 'Settings' ? 'active' : '' %>" id="settings">
          <% if @message then%>
            <div class="col-xs-12 alert <%=@message[0]%>" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only"></span>
              <%= @message[1] %>
            </div>
          <% end %>
          <form class="form" action="/account/chpass" method="post" id="SettingsForm">
            <div class="form-group form-inline">

              <div class="col-xs-12">
                <label for="current_password">
                  <h4>Действующий пароль: </h4></label>
                <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Действующий пароль" required title="Введите действующий пароль">
                <br/><br/>
              </div>
            </div>
            <div class="form-group">

              <div class="col-xs-12">
                <label for="new_password">
                  <h4>Новый пароль</h4></label>
                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="Новый пароль" required title="Введите новый пароль">
              </div>
            </div>

            <div class="form-group">

              <div class="col-xs-12">
                <label for="new_password2">
                  <h4>Повторите пароль</h4></label>
                <input type="password" class="form-control" name="new_password2" id="new_password2" placeholder="Повторите ввод" required title="Введите новый пароль еще раз">
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12">
                <br>
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Сохранить</button>
                <button class="btn" type="reset"><i class="glyphicon glyphicon-repeat"></i> Сброс</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <!--/col-9-->
</div>
<!--/row-->