<h2>Account</h2>
<form>
  <div class="form-group">
    <ul>
      <li><p>Name: <%=@user[0]["Name"] %></p></li>
      <li><p>Surname: <%=@user[0]["Surname"] %></p></li>
      <li><p>Patronymic: <%=@user[0]["Patronymic"] %></p></li>
      <li><p>Login: <%=@user[0]["User_Login"] %></p></li>
      <li><p>Role: <%=@role[0]["Role_Name"] %></p></li>
    </ul>
  </div>
</form>