<h2>Новая запись для таблицы "<%=params[:table] %>"</h2>
<form action="/tables/<%=params[:table] %>/new" method="POST">
  <%if params[:table] == "pavilions"%>
    <div class="form-group">
      <label for="Pavilion_Square">Площадь: </label>
      <input type="number" id="Pavilion_Square" <%= params[:Pavilion_Square] ? "value='#{params[:Pavilion_Square]}'" : ''%> class="form-control" required name="Pavilion_Square" placeholder="Square">
    </div>
    <div class="form-group">
      <label for="Pavilion_Floors">Этажи: </label>
      <input type="number" id="Pavilion_Floors" <%= params[:Pavilion_Floors] ? "value='#{params[:Pavilion_Floors]}'" : ''%> class="form-control" required name="Pavilion_Floors" placeholder="Floors">
    </div>
    <div class="form-group">
      <label for="Pavilion_Num">Номер: </label>
      <input type="text" id="Pavilion_Num" <%= params[:Pavilion_Num] ? "value='#{params[:Pavilion_Num]}'" : ''%> class="form-control" required name="Pavilion_Num" placeholder="Number">
    </div>
  <% end %>
  <% if params[:table] == "defects" %>
    <div class="form-group">
      <label for="Defect_Type">Тип неисправности: </label>
      <input type="text" id="Defect_Type" <%= params[:Defect_Type] ? "value='#{params[:Defect_Type]}'" : ''%> class="form-control" name="Defect_Type" placeholder="Type">
    </div>
  <% end %>
  <% if params[:table] == "posts" %>
    <div class="form-group">
      <label for="Post_Name">Название должности: </label>
      <input type="text" id="Post_Name" <%= params[:Post_Name] ? "value='#{params[:Post_Name]}'" : ''%> class="form-control" required name="Post_Name" placeholder="Type">
    </div>
  <% end %>
  <% if params[:table] == "roles" %>
    <div class="form-group">
      <label for="Role_Name">Название роли: </label>
      <input type="text" id="Role_Name" <%= params[:Role_Name] ? "value='#{params[:Role_Name]}'" : ''%> class="form-control" required name="Role_Name" placeholder="Type">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="Defect_T"> Доступ к таблице 'defects'
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="Main_T"> Доступ к таблице 'maintenances'
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="Pavilion_T"> Доступ к таблице 'pavilions'
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="Post_T"> Доступ к таблице 'posts'
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="Status_T"> Доступ к таблице 'statuses'
        </label>
      </div>
    </div>
  <% end %>
  <% if params[:table] == "statuses" %>
    <div class="form-group">
      <label for="Status_Name">Статус: </label>
      <input type="text" id="Status_Name" <%= params[:Status_Name] ? "value='#{params[:Status_Name]}'" : ''%> class="form-control" required name="Status_Name" placeholder="Status">
    </div>
  <% end %>
  <% if params[:table] == "users" %>
    <div class="form-group">
      <label for="User_Login">Логин: </label>
      <input type="text" id="User_Login" class="form-control" <%= params[:User_Login] ? "value='#{params[:User_Login]}'" : ''%> required name="User_Login" placeholder="Login">
    </div>
    <div class="form-group">
      <label for="User_Password">Пароль: </label>
      <input type="password" id="User_Password" class="form-control" <%= params[:User_Password] ? "value='#{params[:User_Password]}'" : ''%> required name="User_Password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="Role_Select">Выберите роль:</label>
      <select id="Role_Select" class="form-control" name="Role_Select">
        <% CRUD::Role.all.each do |item| %>
          <option <%=params[:Role_Select] && params[:Role_Select].split[0].chomp('.').to_i == item.id_role ? ' selected' : ''%>><%="#{item.id_role}. #{item.name}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="User_Name">Имя: </label>
      <input type="text" id="User_Name" class="form-control" <%= params[:User_Name] ? "value='#{params[:User_Name]}'" : ''%> required name="User_Name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="User_Surname">Фамилия: </label>
      <input type="text" id="User_Surname" class="form-control" <%= params[:User_Surname] ? "value='#{params[:User_Surname]}'" : ''%> required name="User_Surname" placeholder="Surname">
    </div>
    <div class="form-group">
      <label for="User_Patronymic">Отчество: </label>
      <input type="text" id="User_Patronymic" class="form-control" <%= params[:User_Patronymic] ? "value='#{params[:User_Patronymic]}'" : ''%> name="User_Patronymic" placeholder="Patronymic">
    </div>
    <div class="form-group">
      <label for="User_Phone">Контактный телефон: </label>
      <input type="tel" pattern="8-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" id="User_Phone" class="form-control" <%= params[:User_Phone] ? "value='#{params[:User_Phone]}'" : ''%> required name="User_Phone" placeholder="Контактный телефон" title="8-***-***-**-**">
    </div>
    <div class="form-group">
      <label for="Post_Select">Выберите должность:</label>
      <select id="Post_Select" class="form-control" name="Post_Select">
        <% CRUD::Post.all.each do |item| %>
          <option <%=params[:Post_Select] && params[:Post_Select].split[0].chomp('.').to_i == item.id_post ? 'selected' : ''%>><%="#{item.id_post}. #{item.name}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="Pavilion_Select">Выберите павильон:</label>
      <select id="Pavilion_Select" class="form-control" name="Pavilion_Select">
        <% CRUD::Pavilion.all.each do |item| %>
          <option <%=params[:Pavilion_Select] && params[:Pavilion_Select].split[0].chomp('.').to_i == item.id_pavilion ? 'selected' : ''%>><%="#{item.id_pavilion}. Павильон №#{item.number}"%></option>
        <%end%>
      </select>
    </div>
  <% end %>
  <% if params[:table] == "maintenances" %>
    <div class="form-group">
      <label for="Status_Select">Выберите статус: </label>
      <select type="text" id="Status_Select" class="form-control" name="Status_Select">
        <% CRUD::Status.all.each do |item| %>
          <option <%=params[:Status_Select] && params[:Status_Select].split[0].chomp('.').to_i == item.id_status ? 'selected' : ''%>><%="#{item.id_status}. #{item.name}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="Client_Select">Выберите заказчика:</label>
      <select id="Client_Select" class="form-control" name="Client_Select">
        <% CRUD::User.where(role: CRUD::Role.find_by(name: "Клиент").id_role).each do |item| %>
          <option <%=params[:Client_Select] && params[:Client_Select].split[0].chomp('.').to_i == item.id_user ? 'selected' : ''%>><%="#{item.id_user}. #{item.name} #{item.surname} - Павильон №#{CRUD::Pavilion.find(item.pavilion).number}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="Defect_Select">Выберите тип неисправности:</label>
      <select id="Defect_Select" class="form-control" name="Defect_Select">
        <% CRUD::Defect.all.each do |item| %>
          <option <%=params[:Defect_Select] && params[:Defect_Select].split[0].chomp('.').to_i == item.id_defect ? 'selected' : ''%>><%="#{item.id_defect}. #{item.defect_name}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="Executor_Select">Выберите исполнителя:</label>
      <select id="Executor_Select" class="form-control" name="Executor_Select">
        <% CRUD::User.where(role: CRUD::Role.find_by(name: "Исполнитель").id_role).each do |item| %>
          <option <%=params[:Executor_Select] && params[:Executor_Select].split[0].chomp('.').to_i == item.id_user ? 'selected' : ''%>><%="#{item.id_user}. #{item.name} #{item.surname} - #{CRUD::Post.find(item.post).name}"%></option>
        <%end%>
      </select>
    </div>
    <div class="form-group">
      <label for="Date_Bid">Дата подачи: </label>
      <input type="text" id="Date_Bid" class="form-control" <%= params[:Date_Bid] ? "value='#{params[:Date_Bid]}'" : ''%> required name="Date_Bid" placeholder="Дата подачи заявки">
    </div>
    <div class="form-group">
      <label for="Date_End">Дата выполнения: </label>
      <input type="text" id="Date_End" class="form-control" <%= params[:Date_End] ? "value='#{params[:Date_End]}'" : ''%> name="Date_End" placeholder="Дата выполнения заявки">
    </div>
    <div class="form-group">
      <label for="Maintenance_Descr">Описание: </label>
      <textarea id="Maintenance_Descr" class="form-control" <%= params[:Maintenance_Descr] ? "value='#{params[:Maintenance_Descr]}'" : ''%> rows="3" required name="Maintenance_Descr" placeholder="Описание неисправности"></textarea>
    </div>
  <% end %>
  <% if @message %>
    <div class="alert <%=@message[0] %>" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Ошибка:</span>
      <%= @message[1] %>
    </div>
  <% end %>
  <input type="submit" href="/tables/<%=params[:table]%>/new" class="btn btn-primary center-block" value="Добавить">
</form>